/*--- AZZERAMENTO ---*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*--- HEADER ---*/

nav{
  height: 80px;
  background-color: #090B12;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: calc(100vw - (200px));
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.text-uppercase{
  text-transform: uppercase;
}

nav > a{
  border: 1px solid white;
  padding: 0px 34px;
  border-radius: 20px;
  height: 39px;
  line-height: 39px;
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

nav > a:hover{
  transform: scale(1.1);
}

a{
  text-decoration: none;
  color: #7E8184;
}
/*--- SIDE-BAR ---*/

.side-bar{
  width: 200px;
  height: calc(100% - 80px);
  background-color: black;
  position:fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.side-bar img{
  margin: 0 10px;
  width: 60%;
}

.display-none{
  display: none;
}

 .side-bar .content > ul li{
   list-style: none;
   margin: 20px 20px;
   color: #7E8184;
   font-size: 15px;
   justify-content: flex-start;
 }

  .side-bar .content > ul li:hover,  .side-bar .content > ul li a:hover{
    cursor: pointer;
    color: white;
  }

 .color-grey{
   color: #888888 ;
 }

 .content > ul li >i{
   margin-right: 5px;
 }

 .border{
   border-left: 3px solid #ADFF2E;
   border-height: 20px;
   height: 30px;
   position: relative;
   left: -19px;
   margin-right: 25px;
   padding: 0 17px;
   line-height: 30px;
 }

.content ul li .square{
  height: 30px;
  width: 30px;
  font-size: 24px;
  background-color: lightgrey;
  color: black;
  text-align: center;
}

 .display-inline{
  position: relative;
}

.categorie{
  height: 35vh;
  overflow-y: auto;
}

 .playlist{
  position: absolute;
  top: 0;
  left: 36px;
  width: max-content;
  margin-top: 6px;
}

 .profile{
  margin-top: auto;
}

.side-bar .profile > ul li:hover,.side-bar .profile > ul li a:hover {
  cursor: pointer;
  color: white;
}

.profile hr{
  width: 80%;
  margin: 0 auto;
  border:1px solid #7E8184;
}

.profile  ul li{
  color: #7E8184;
  margin: 20px 20px;
  list-style: none;
}

.profile .color-white > li {
  color: white;
}

.container{
  width: 80%;
  margin: 0 auto;
}

/*--- MAIN ---*/

main{
  background-color: #141922;
  padding-left: 210px;
  /* height: 140vh; */
}

main > ul{
text-align: center;
color: #7E8184;
padding: 20px;
margin-top: 77px;
}

main > ul li:first-child{
  border-bottom: 1px solid #ADFF2E;
}

#border-bottom{
  position: relative;
}

main > ul #border-bottom:before{
  content : " ";
  position: absolute;
  left    : 0;
  bottom  : -1px;
  height  : 0px;
  width   : 30%;  /* or 100px */
  border-bottom:1px solid #141922;
  z-index: 2;
}

main > ul #border-bottom:after{
  content : " ";
  position: absolute;
  right    : 0;
  bottom  : -1px;
  height  : 1px;
  width   : 30%;  /* or 100px */
  border-bottom:1px solid #141922;
  z-index: 2;
}

main > ul > li:hover{
    cursor: pointer;
    color: white;
}

main > ul > li{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
}

main h2 , main p{
  margin-bottom: 15px;
  margin-left: 6px;
}

.color-white{
  color: white;
}

.raccolta{
  display:flex;
  overflow-y: scroll;
  flex-wrap: wrap;
}

.ragruppo{
 width: auto;
 margin: 0;
}

.ragruppo h4, .ragruppo p{
  width: 180px;
  text-align: center;
}

.card img{
  height: 180px;
  width: 180px;
}
 .album{
  height: 180px;
  width: 180px;

}
.album img{
  height: 49%;
  width: 48%;
}



.card > h4 , .card p{
  display: flex;
  justify-content: center;
}

.card{
  margin: 5px 5px;
  position:relative;
  font-size: 0;
}

/* PLAYER CON OPACITA' */

.card .layover{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  color: white;
  display: none;
}

 .card .layover i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  display: block;
}

 .card:hover .layover{
   display: block;
   cursor: pointer;
 }
/* PLAYER CON OPACITA' */

.craeted-for{
  display:flex;
  flex-direction: row;
}

.mg-top{
  margin-top: 30px;
}

.circle{
  border-radius: 50%;
}
.layover-circle{
  border-radius: 50%;
}

/*--- FOOTER ---*/

footer{
  height: 80px;
  width: 100%;
  background-color:#282828 ;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
}

 .parte-sx{
   display: flex;
   align-self: center;
}

.parte-sx ul li{
  display: inline-block;
  margin: 0 5px;
}


.parte-sx img{
  height: 50px;
  width: 50px;
  margin: 10px 10px;
}

.descrizione-canzone{
 padding-top: 20px;
 margin-right: 15px;
}
.descrizione-canzone .underline:hover{
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

.preferiti{
  line-height: 80px;
}
.preferiti i:hover{
  color: white;
  cursor: pointer;
}

.parte-centrale > .display-inline li{
   display: inline-block;
   font-size: 25px;
   margin: 10px 10px;
   color: white;
}

.parte-centrale > .display-inline li:hover{
  transform: scale(1.1);
}

.parte-centrale .range:before{
  content: "0:25";
  color: white;
}

.parte-centrale .range:after{
  content: "4:35";
  color: white;
}

 .range {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
  text-align: center;
}

.parte-dx{
  display: flex;
  align-items: center;
}

.parte-dx > ul  li{
  display: inline-block;
  font-size: 15px;
  margin: 10px 10px;
   color: white;
}

.parte-dx > ul  li:hover{
  transform: scale(1.1);
}

/*--- MAEDIA QUERY PER LA BARRA DELLA DURATA ANCHE PER LA BARRA DEL VOLUME  ---*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 200px;
      -webkit-appearance: none;
      background-color: #a2a2a2;
      border-radius: 5px;
      height: 5px;
    }
    input[type='range']::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        color: #13bba4;
        margin-top: -1px;
        background-color: #a2a2a2;
    }
    input[type='range']::-webkit-slider-thumb {
        width: 10px;
        -webkit-appearance: none;
        height: 10px;
        cursor: ew-resize;
        background: #a2a2a2;
        box-shadow: -100vw 0 0 100vw #FFF;
        -webkit-appearance: none;
    }
    input[type='range']:hover::-webkit-slider-thumb {
        box-shadow: -100vw 0 0 100vw #A7F62D;
        background: #ffffff;
        border-radius: 50%;
      }
}

/*--- MEDIA QUERY PER TABLET MD ---*/

@media screen and (max-width: 992px) {
  .card{
   width: calc(100% /4 -10px);
  }
  input[type='range'] {
    overflow: hidden;
    width: 80px;
    -webkit-appearance: none;
    background-color: #a2a2a2;
    border-radius: 5px;
    height: 5px;
  }
}

/*--- MEDIA QUERY PER SM---*/

@media screen and (max-width: 768px) {
  .card{
   width: calc(100% /2 -15px);
  }

  input[type='range'] {
    overflow: hidden;
    width: 80px;
    -webkit-appearance: none;
    background-color: #a2a2a2;
    border-radius: 5px;
    height: 5px;
  }
  .preferiti{
    display: flex;
    flex-direction: column;
    line-height: 0;
    padding-top: 22px;
  }
  .parte-dx > ul li:last-child , .fa-volume-up{
    display: none;
  }

}

/*--- MEDIA QUERY PER SMARTPHONE XS ---*/

 @media screen and (min-width: 0px) and (max-width: 767px) {
  .card{
   width: calc(100% /2 -10px);
  }
  .card img{
    height: 250px;
    width: 250px;
  }
  .album{
   height: 250px;
   width: 250px;

  }
  .album img{
   height: 49%;
   width: 48%;
   /* margin:0 auto; */
  }
  .side-bar{
   width: 50px;
  }
  .side-bar img , .side-bar .content  ul  li{
    text-align: center;
    /* align-items: center; */
    margin: 10px ;
    font-size: 25px;
  }
  .side-bar a , .categorie , .scompari{
    display: none;
  }
  .profile ul li{
    font-size: 20px;
    margin: 10px 0;
    text-align:center;
  }
  .profile hr{
    display: none;
  }
  main{
    padding-left: 50px;
  }
  nav{
    width: 100%;
  }
  .display-none{
    display: block;
    /* height: 50px; */
    margin-top: 5px;
    font-size: 35px;
    text-align: center;
    color: white;
  }
  .logo{
    display: none;
  }
}

@media screen and (max-width: 571px){
  .card{
   width: calc(100% /2 -10px);
  }
  .parte-centrale > ul li i{
    font-size: 15px;
  }
  .card img{
    height: 200px;
    width: 200px;
  }
  .album{
   height: 200px;
   width: 200px;
  }
  .album img{
   height: 49%;
   width: 48%;
   margin:0 auto;
  }
  .ragruppo h4, .ragruppo p {
   width: 200px;
   text-align: center;
  }
}

@media screen and (max-width: 484px){
  .parte-sx .descrizione-canzone p{
    display: none;
  }
  .card img{
    height: 150px;
    width: 150px;
  }
  .album{
   height: 150px;
   width: 150px;
  }
  .album img{
   height: 49%;
   width: 48%;
   margin:0 auto;
  }
  .ragruppo h4, .ragruppo p {
   width: 150px;
   text-align: center;
  }
}

 @media screen and (max-width: 400px){
  .card{
   width: calc(100% /2 -10px);
  }
  .card img{
    height: 130px;
    width: 130px;
  }
  .album{
   height: 130px;
   width: 130px;
  }
  .album img{
   height: 49%;
   width: 48%;
   margin:0 auto;
  }
  .ragruppo h4, .ragruppo p {
   width: 130px;
   text-align: center;
  }
  .parte-sx .preferiti{
    display: none;
  }
}

 @media screen and (max-width: 375px){
  .parte-dx > ul{
    display: none;
  }
 }

 @media screen and (max-width: 375px){
   .card{
    width: calc(100% /2 -10px);
   }
   .card img{
     height: 130px;
     width: 130px;
   }
   .album{
    height: 130px;
    width: 130px;
   }
   .album img{
    height: 49%;
    width: 48%;
    margin:0 auto;
   }
   .ragruppo h4, .ragruppo p {
    width: 130px;
    text-align: center;
   }
 }
